<div>
    <div class="filter-area">
        <label for="Search">Search
            <input type="text" placeholder="Search Game">
        </label>
    </div>
    <div id="all-games">
        <div *ngFor="let game of games">
            <a [routerLink]="game._id" class="game">
                <img [src]="game.pictureURL"/>
                {{game.name}}
            </a>
        </div>
    </div>
    <div class="pagination">
        <div class="page" *ngFor="let page of pages; let i=index">
            <a  class="btn" (click)="getPageResult(i)">
                {{i+1}}
            </a>
        </div>
    </div>
</div>