#all-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gainsboro;
}

.game {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
}

.game img {
    width: 150px;
}

.filter-area {
    display: flex;
    justify-content: flex-end;
    background-color: #33425b;
    padding: 0 10px 10px 10px;
    color: white;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
}

.page .btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33425b;
    color: white;
    font-weight: bold;
}